@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@config '../../tailwind.config.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {

    html.theme-transition,
    html.theme-transition *,
    html.theme-transition *:before,
    html.theme-transition *:after {
        @apply transition-colors duration-300;
    }
}

@layer utilities {
    @media (prefers-color-scheme: light) {
        :root {
            color-scheme: light;
        }
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
        }
    }

    html {
        color-scheme: light;
    }

    html.dark {
        color-scheme: dark;
    }
}